header{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: arial;
  margin-left: 15%;
  margin-right: 15%;
}

div{
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}


div img{
  width: 280px;
  height: 280px;
  margin-top: 50px;
}

.name{
  width: 200px;
  text-decoration: underline green;
  display: flex;
  justify-content: center;
  width: 200px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 15px;
}

.email{
  display: flex;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 20px;
  color: grey;
  font-size: 14px;

}

.address{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 160px;
  color: grey;
  text-transform: capitalize;
  font-size: 14px;
}
.city{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 200px;
  color: grey;
  text-transform: capitalize;
  font-size: 14px;
}

.phone{
  display: flex;
  justify-content: center;
  text-align: center;
  color: grey;
  margin-bottom: 10px;
  font-size: 14px
  width: 280px;

}

.social {
  display: flex;
  justify-content: center;
  width: 220px;
  font-size: 14px;
  margin-top: 20px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
